{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}} - Ajout de personne
{% endblock %}

{% block body %}
	<h1 class="mb-5">Ajouter une personne</h1>

    {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.birthDate) }}
    
    <div class="mb-2">
        <button class="btn btn-danger" type="submit" name="action">Ajouter</button>
    </div>
    
    {{ form_end(form) }}

{% endblock %}
